body {
    margin: 0;
    font-family: 'Verdana';
}
header {
    background-color: #FFD900;
    padding: 10px;
}

#main {
    display: grid;
    grid-auto-flow: column;
}
  
#text {
    background: #514988;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
  
    h1 {
        font-size: 45px;
        color: #F3C61F;
    }    
    h2 {
        color: white;
        font-size: 20px;
        margin-top: 20px;
    }    
    p {
        color: white;
        font-size: 25px;
        font-weight: 400;
        padding: 20px;
    }

#countdown h1{
    display:  inline-block; 
    grid-auto-flow: row;  
    font-size: 40px;
    color:#514988;
    text-align: center;
    margin-left: 11%;
    margin-bottom: 1px;
}

#parRosa {
    color: #E33881;
    font-weight: 700;
    font-size: 24px;
    text-align: center; 
} 
   
#video{
    width: 808px;
    height: 410px;
    
}

#parAmarelo {
    font-weight: 600;
    font-size: 27px;
    color: #F3C61F;
    margin-left: 3.0%;
    margin-top: 5px;
}
#ing2 {
    display: grid;
    grid-auto-flow: column;
}

    #ing2 .img {
        margin-left: 4%;
    }
    #ing2 button {
        background: #514988;
        border: none;
        cursor: pointer;
        align-items: center;
        width: 90%;
        height: 60%;
        border-radius: 20px;
        font-size: 30px;
        font-weight: 700;
        color:white;
        transition: 0.2s  ease-in-out;
    }
    #ing2 button:hover {
        color: #F3C61F;
    }

    form {
        background-color: #F3C61F;
        margin-top: 50px;
    }

    input{
    
        background: #514988;
        border-radius: 10px;
        color: #FFFFFF;
        border: 0pt;
        margin: 30px;
        width:300px;
        height:70px;
        font-size: 30px;
    
}
    .card-highlight {
        box-shadow: 5px 20px grey;
    }

    .card-selected{
        border: 5px solid green
    }
    
